
<h2>Add your doses and ingredients for <%= @cocktail.name %> </h2>

<%= simple_form_for [@cocktail, @dose] do |f| %>

<%= f.input :description %>
<%= f.association :ingredient, collection: @ingredients %>
<%= f.button :submit %>

<% end %>

